.DS_Store
/.build
/Packages/
!/packages/
!/packages/**
.superpowers/
node_modules/
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
